[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer.git
