[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "extensions/sd-webui-aspect-ratio-helper"]
	path = extensions/sd-webui-aspect-ratio-helper
	url = https://github.com/thomasasfk/sd-webui-aspect-ratio-helper.git
[submodule "extensions/sd-extension-system-info"]
	path = extensions/sd-extension-system-info
	url = https://github.com/vladmandic/sd-extension-system-info.git
[submodule "extensions/stable-diffusion-webui-images-browser"]
	path = extensions/stable-diffusion-webui-images-browser
	url = https://github.com/AlUlkesh/stable-diffusion-webui-images-browser.git
[submodule "extensions/openpose-editor"]
	path = extensions/openpose-editor
	url = https://github.com/fkunn1326/openpose-editor.git
[submodule "extensions/Catppuccin Theme"]
	path = extensions/Catppuccin Theme
	url = https://github.com/catppuccin/stable-diffusion-webui.git
