[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/adetailer"]
	path = extensions/adetailer
	url = https://github.com/Bing-su/adetailer.git
[submodule "extensions/sd-webui-aspect-ratio-helper"]
	path = extensions/sd-webui-aspect-ratio-helper
	url = https://github.com/thomasasfk/sd-webui-aspect-ratio-helper.git
[submodule "extensions/sd-extension-system-info"]
	path = extensions/sd-extension-system-info
	url = https://github.com/vladmandic/sd-extension-system-info.git
[submodule "extensions/stable-diffusion-webui-images-browser"]
	path = extensions/stable-diffusion-webui-images-browser
	url = https://github.com/AlUlkesh/stable-diffusion-webui-images-browser.git
[submodule "extensions/openpose-editor"]
	path = extensions/openpose-editor
	url = https://github.com/fkunn1326/openpose-editor.git
[submodule "extensions/Catppuccin Theme"]
	path = extensions/Catppuccin Theme
	url = https://github.com/catppuccin/stable-diffusion-webui.git
[submodule "extensions/stable-diffusion-webui-artists-ui-tweak"]
	path = extensions/stable-diffusion-webui-artists-ui-tweak
	url = https://github.com/GeorgLegato/stable-diffusion-webui-artists-ui-tweak.git
[submodule "extensions/sd-dynamic-prompts"]
	path = extensions/sd-dynamic-prompts
	url = https://github.com/adieyal/sd-dynamic-prompts.git
[submodule "extensions/ultimate-upscale-for-automatic1111"]
	path = extensions/ultimate-upscale-for-automatic1111
	url = https://github.com/Coyote-A/ultimate-upscale-for-automatic1111.git
[submodule "extensions/sd-webui-prompt-history"]
	path = extensions/sd-webui-prompt-history
	url = https://github.com/namkazt/sd-webui-prompt-history.git
[submodule "extensions/Config-Presets"]
	path = extensions/Config-Presets
	url = https://github.com/Zyin055/Config-Presets.git
[submodule "extensions/stable-diffusion-webui-state"]
	path = extensions/stable-diffusion-webui-state
	url = https://github.com/ilian6806/stable-diffusion-webui-state.git
